/* app/globals.css */
@import "tailwindcss";

/* 👇 ADJUST THIS LINE TO LOAD THE THEMES YOU WANT */
@plugin "daisyui" {
  themes: nord, corporate, cupcake, autumn, light, dark, winter, fantasy; 
}

/* OR if you want to load absolutely everything to test, use:
@plugin "daisyui" { themes: all; } 
*/

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "ui-sans-serif", "system-ui", "-apple-system", sans-serif;
}

html, body {
  background-color: var(--fallback-b2, #f8fafc);
  font-family: var(--font-sans);
}